.Card{
    border: 3px solid black;
}

.Card .header
{
    background-color: rgb(114, 31, 31);
}

.Card .section{
    background-color: rgb(224, 166, 90);
    border: 3px solid black;
}

.Card .footer{
    background-color: gray;
    font-style: italic;
}